<head>
  <style type="text/css">
    body {
      background: #6cd77c;
      font-family: Arial, Helvetica, sans-serif;
    }
    .left-side {
      max-width: 45%;
      text-align: right;
      position: absolute;
      top: 15%;
      left: 0;
    }
    .title {
      color: #fff;
      font-size: 5em;
    }
    .sub-title {
      color: #fff;
      font-size: 1.3em;
    }
  </style>
</head>
<body>
  <div class="left-side">
    <h1 class="title">Click the link to daownload secret file</h1>
    <a href="/file">
        <img alt="rust-log">
    </a>
  </div>
</body>